@font-face {
  font-family: inconsolata;
  src: url(../assets/inconsolata.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: inconsolata;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'inconsolata', sans-serif;
}

body {
  background-color: #000;
  
  padding: 2rem;
}

a {
  color: #fff;
}

p {
  font-size: 1rem;
}

h1 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;

  margin-bottom: 0;
}