@import url(base.css);

body {
  max-width: 666px;

  margin-left: auto;
  margin-right: auto;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.sourceCode {
  border: 1px solid #fff;
  width: 100%;

  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

div.sourceCode {
  background-color: #111;
}

.date {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.2rem;
}

h2,
h3,
h4,
h5,
h6 {
  border-left: 1px solid #fff;
  padding-left: 0.5rem;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0.4rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
